html {
	background-image: url(../img/wallpaper.jpg);
	background-attachment: fixed;
	background-repeat: no-repeat;
	background-position: center center;
	-webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
	background-size: cover;
}

body{
}

/** DESCRIPTION **/
.description {
	position: absolute;
	right: 0;
	top: 0;
}

/** MENU **/
.menu {
	position: absolute;
	bottom: 30px;
	left: 50%;
	transform: translateX(-50%);
}

.menu_one, .menu_two, .menu_three, .menu_four, .menu_five {
	width: 100px;
	min-height: 100px;
	border: 2px solid #000;
	display: inline-block;
}

.active {
	border-color: #FFF;
}

/** FOOTER **/
.footer{
	position: absolute;
	bottom: 0;
	height: 30px;
	width: 100%;
	background-color: #000;
}
