html,body {
    height: 100%;
}

.navbar {
    margin-bottom: 0;
    border-radius: 0;
    background-color: #5E4485;
    color: #FFF;
    padding: 1% 0;
    font-size: 1.2em;
    border: 0;
}

.navbar-brand {
    float: left;
    vertical-align: middle;
    transform: translateY(-50%);
}

.navbar-inverse .navbar-nav .active a,
.navbar-inverse .navbar-nav .active a:focus,
.navbar-inverse .navbar-nav .active a:hover {
    color: #FFF;
    background-color: #5E4485;
}

.navbar-inverse .navbar-nav li a {
   color: #D5D5D5;
}

#about {
    background: url(../img/lower_antelope.JPG) no-repeat center center fixed;
    display: table;
    height: 100%;
    position: relative;
    width: 100%;
    background-size: cover;
}

#fixed {
    background: url(../img/lower_antelope.jpg) no-repeat center center fixed;
    display: table;
    height: 30%;
    position: relative;
    width: 100%;
    background-size: cover;
}

.landing-text {
    display: table-cell;
    text-align: center;
    vertical-align: middle;
    color: #CCC;
}

.landing-text h1 {
    font-size: 500%;
    font-weight: 700;
}

.project-box {
    display: block;
    position: relative;
    margin: 0 auto;
    max-width: 650px;
}

.project-box img {
   max-width: 100%;
}

.no-gutters [class*=col-]{
    padding-right: 0;
    padding-left: 0;
}

footer {
    width: 100%;
    background-color: #DDD;
    padding: 2% 2% 4% 2%;
    color: #000;
}

.hover-unhide {
    display: block;
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 100%;
    text-align: center;
    color: #fff;
    opacity: 0;
    background-color: #5E4485;
    transition: .35s;
}

.project-box .text-elements {
    width: 100%;
    text-align: center;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
}

.hover-unhide:hover {
    opacity: .6;
}